<h3>View your kittens - You are now viewing <%= @kitten.name %></h3>

<h4>Kitten attributes:</h4>
<p>Age: <%= kitten.age %></p>
<p>Cuteness: <%= kitten.cuteness %></p>
<p>Softness: <%= kitten.softness %></p>